---
import Button from '../components/Button'

interface Product {
  id: number
  title: string
  description: string
  price: number
}

let products: Array<Product>

products = [
  {
    id: 0,
    title: 'Product one',
    description: 'Product one description',
    price: 9.99,
  },
  {
    id: 1,
    title: 'Product two',
    description: 'Product two description',
    price: 9.99,
  },
]
---

<div class="container mx-auto px-20">
  {products.map((product) => <Button product={product} client:load />)}
</div>
